<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Редактировать пользователя</h1>
    <form th:action="@{/admin/update}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="username">Имя</label>
            <input type="text" class="form-control" id="username" th:field="*{username}">
            <div class="text-danger mt-1" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Имя Error</div>
        </div>

        <div class="form-group">
            <label for="newPassword">Новый пароль (оставьте пустым, если не хотите изменять)</label>
            <input type="password" class="form-control" id="newPassword" th:field="*{password}">
            <div class="text-danger mt-1" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Пароль Error</div>
        </div>

        <div class="form-group">
            <label for="lastName">Фамилия</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
            <div class="text-danger mt-1" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Фамилия Error</div>
        </div>

        <div class="form-group">
            <label for="age">Возраст</label>
            <input type="number" class="form-control" id="age" th:field="*{age}">
            <div class="text-danger mt-1" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Возраст Error</div>
        </div>

        <div class="form-group">
            <label for="email">Почта</label>
            <input type="email" class="form-control" id="email" th:field="*{email}">
            <div class="text-danger mt-1" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Почта Error</div>
        </div>

        <div class="form-group">
            <label for="roles">Роли</label>
            <div th:each="role : ${roles}">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" th:field="*{roles}" th:value="${role.id}" th:id="'role_' + ${role.id}">
                    <label class="form-check-label" th:for="'role_' + ${role.id}" th:text="${role.name}"></label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>

    <form th:action="@{/logout}" method="post" style="margin-top: 20px;">
        <input type="submit" value="Logout" class="btn btn-danger"/>
    </form>
</div>
</body>
</html>
